
<div class="con-wrap fadeToTop archive">
    <div class="content article-area">
        <% var old, year %>
        <% page.posts.sort('date', 'desc').each(function(post) { %>
            <%
                year = date(post.date,'YYYY');
                if(old != year){
                    old = year;
            %>
                <div class="archive-year"><span class="year-block"><%= year %></span></div>

            <%
                }
            %>
            <%- partial('_partial/article.ejs', {item: post}) %>
        <% }); %>
    </div>
    <section class="tool-area">
        <%- partial('_partial/toolbar') %>
    </section>
</div>
<%- partial('_partial/pagination') %>