<div class="con-wrap fadeToTop">
    <% if(!theme.layout.columnPosition) { %>
    <section class="article-area" style="order: 1; margin-right: 0; margin-left: 40px;">
    <% } else { %>
    <section class="article-area">
    <% } %>
        <%- partial('_partial/article', {item: page}) %>
    </section>
    <%- partial('_partial/toolbar') %>
</div>
