// ------------------------------
// 总样式入口文件
// ------------------------------


@import "_base/variables.styl"
@import "_base/extend.styl"

body
    color $textColor
    background $bodyBgColor


@import "org/reset.css"
@import "org/highlight.css"
@import "_module/*"
@import "_util/media"





