// ------------------------------
// 总样式入口文件
// ------------------------------


@import "_base/variables.styl"
@import "_base/extend.styl"

body
    color $textColor
    background #242424

@import "org/reset.css"
@import "_module/*"
@import "_util/media"





