.background
    background-repeat no-repeat
    background-position center center
    background-size cover
.textShadow
    text-shadow: 0px 0px 10px $shadowColor
.transition
    -webkit-transition: all 0.4s
    -moz-transition: all 0.4s
    -o-transition: all 0.4s
    transition: all 0.4s