// common style
$bodyBgColor = #eee
$themeColor = #fb6510
$shadowColor = #333333
$borderColor = #131313

// nav style
$navBgColor = rgba(0,0,0,0.95)
$navLinkScolor = #f78240
$navTextColor = #a0a0a0

// article content style
$articleAreaColor = rgba(0,0,0,0.95) 
$textColor = #c2c2c2 
$textColorDes = #7b7b7b 
$textSize = 16px // 正文字号


$column_text_size = 38px // 栏目标题字号




