// common style
$bodyBgColor = #242424
// $themeColor = #fb6510
$themeColor = #2d65c3
$shadowColor = #333333
$borderColor = #404040
$commonMargin = 40px
$siteTitleSize = 38px

// nav style
$navBgColor = rgba(0,0,0,0.95)
$navLinkScolor = #f78240
$navTextColor = #a0a0a0

// article content style
$articleAreaColor = rgba(0,0,0,0.95) 
$articleAreaBlockColor = #151515
$textColor = #c2c2c2 
$textColorDes = #9c9c9c 
$textSize = 16px

// other pages style
$columnTitleSize = 22px // 栏目标题字号




