<article class="article-archive">
    <div class="article-wrap">
        <h2 class="archive-title">
            <a href="<%- config.root %><%- item.path %>"><%- item.title ? item.title : "Empty title" %></a>
            <span class="article-time"><%= item.date.format(config.date_format)%></span>
        </h2>
    </div>
</article>
