<div class="extend-tools" id="extend-tools" style="display: none;">
    <ul>
        <li class="tools-returnTop" title="<%= __('returnTop') %>"><i class="fa fa-angle-double-up"></i></li>
    </ul>
</div>
