<div class="extend-tools" id="extend-tools" style="display: none;">
    <ul>
        <li class="tools-closeLight" id="light-button" title="<%= __('focusMode') %>"><i class="fa fa-circle-o"></i></li>
        <li class="tools-returnTop" title="<%= __('returnTop') %>"><i class="fa fa-angle-double-up"></i></li>
    </ul>
</div>
