<footer class="footer">
	<p class="footer-intro">
		<%
			var date = new Date();
			var year = date.getFullYear();
		%>
		@<%=  year %> <%= config.title %>.
	</p>
	<p class="footer-intro">
			Powered By <a href="https://hexo.io/zh-cn/" target="_blank">hexo</a>
			theme <a href="https://github.com/iengu/hexo-theme-mokusei" target="_blank">mokusei</a> by <a href="https://www.iengu.com" target="blank">iengu</a>
	</p>
</footer>



