// ------------------------------
// 多端响应适配
// ------------------------------

@media screen and (max-width:960px)
    html
    body
        height auto
    .extra-padding
        padding-top 80px !important
    .sidebar
        width 200px
        display block
        position absolute
        left 0
        top 0
        z-index 1
        height 100%
        > ul
            > li
                a
                    padding-left 0px
                    padding-right 0px
                    text-align center
    .main-con
        width 100%
        margin 0px
        position relative
        z-index 20
        #con-wrap
            margin $wrap_margin_media
            overflow hidden
        .pagination
            margin $wrap_margin_media
        .footer
            padding $wrap_margin_media
        .top
            .top-info
                padding 20px
                .site-name
                .account-list
                    float none
                .account-list
                    display none
                .site-name
                    a
                        display inline
                        font-size 32px
                    text-align center
                    small
                        display none
            #media-toggle
                transition()
                display block !important
                position absolute
                top 50%
                left 30px
                margin-top -11px
                color #fff
                font-size 25px
                z-index 11
        .article-inner
            .article-head
                padding $wrap_margin_media
        .inner-con
            .article-wrap
                margin $wrap_margin_media
        .column-head
            padding $wrap_margin_media
        .archive-year
            margin 30px 0px
    .toolbar
        width 100%
        position relative
    .article-dirname
        display none
    .media-menu_child
        height 50px
        line-height 50px
        display block !important
        position absolute
        top 0
        left 0
        width 100%
        background-color rgba(0,0,0,0.2)
        z-index  20
        #media-toggle
            display block !important
            position absolute
            top 50%
            left 30px
            margin-top -11px
            color #fff
            font-size 20px
            z-index 11
        .menu-name
            text-align right
            padding-right 30px
            a
                font-size 20px
                color #fff
    #extend-tools
        display none !important


