
@media screen and (max-width:960px)
    .archive-year
        text-align center
    .main-con
        width 100%
        margin 0px
        position relative
        z-index 20
        overflow visible
        .column-title
            margin 40px 10px
            text-align center
        .nav
            background-color $bodyBgColor
            display block
            padding 0px
            position absolute
            left -200px
            width 200px
            .nav-list
                float none
                display block
                width 100%
                li
                    dl
                        position static
            .nav-tool
                float none
                display block
                width 100%
            li
                display block
                margin 0
                a
                    display block
                    border-bottom 1px solid $borderColor
                    border-radius 0px
                    text-align left
                    padding 10px 30px
        .con-wrap
            margin 10px
            flex-direction column
            .article-area
                margin 0 !important
                order 0 !important
            .tool-area
                width 100%
                margin 0 !important
                .widget
                    margin-bottom 10px
        .article
            margin-bottom 10px
        .pagination
            margin 40px 0px
        .top
            .top-info
                padding 20px
                .site-name
                .account-list
                    float none
                .account-list
                    display none
                .site-name
                    a
                        display inline
                        font-size 32px
                    text-align center
                    small
                        display none
            #media-toggle
                transition()
                display block !important
                position absolute
                top 50%
                left 30px
                margin-top -11px
                color #fff
                font-size 25px
                z-index 11
        .article-inner
            .article-head
                padding $wrap_margin_media
        .inner-con
            .article-wrap
                margin $wrap_margin_media
        .column-head
            padding $wrap_margin_media
        .archive-year
            margin 30px 0px
    .toolbar
        width 100%
        position relative
    .article-dirname
        display none
    .media-menu_child
        height 50px
        line-height 50px
        display block !important
        position absolute
        top 0
        left 0
        width 100%
        background-color rgba(0,0,0,0.2)
        z-index  20
        #media-toggle
            display block !important
            position absolute
            top 50%
            left 30px
            margin-top -11px
            color #fff
            font-size 20px
            z-index 11
        .menu-name
            text-align right
            padding-right 30px
            a
                font-size 20px
                color #fff
    #extend-tools
        display none !important


