.archive
    .archive-year
        font-size 26px
        margin-bottom 40px
        font-weight bold
        color $textColor
        background-color $themeColor
        padding 15px 30px
        border-radius 3px