.archive
    .tool-area
        margin-top 75px
    .archive-year
        font-size 26px
        margin-bottom 40px
        font-weight bold
        color $textColor
        span.year-block
            display inline-block