.column-title
    margin $commonMargin
    color $textColor
    font-size $columnTitleSize
    .title-info
        color #000
        border-radius 3px
        font-size $columnTitleSize
        padding 0px 5px
        background-color $themeColor

.main-con
    width 1200px
    margin 40px auto
    overflow hidden
    background $articleAreaColor
    .con-wrap
        &::after
            content ""
            display block
            clear both
        margin $commonMargin
        display flex
        justify-content space-between
        .article-area
            flex 1
        .tool-area
            margin-left 40px
            width 300px
    .article
        background-color $articleAreaBlockColor
        padding 15px 30px
        margin-bottom 40px
        border-radius 3px

    .article-time
        font-size 12px
        color $textColorDes
        i
            padding-right 10px
    .article-extra
        > li
            display inline-block
            margin 0px 10px 10px 0px
        margin-bottom 20px
        .article-category
            li
                display inline-block
                a
                    font-size 12px
                    color $textColorDes
                    &:hover
                        color $themeColor
    .article-title
        padding-top 10px
        padding-bottom 10px
        overflow hidden
        font-size 28px
        font-weight bold
        color $themeColor
        a
            font-size 28px
            font-weight bold
            color $themeColor
            &:hover
                text-decoration underline
    .article-description
        font-size $textSize
        line-height 160%
        color $textColorDes
        p
            margin 10px 0px
            word-break break-all
        h1, h2, h3, h4, h5,h6
            margin 40px 0px
        h1
            font-size 2.4em
        h2
            font-size 2em
        h3
            font-size 1.6em
        h4
            font-size 1.2em
        h5
            font-size 1em
        h6
            font-size 1em
        blockquote
            border-left 1px solid $themeColor
            background-color rgba(0,0,0,0.1)
            font-size 14px
            padding 10px 20px
            margin 20px 0px
            overflow auto
        a
            color $textColor
            text-decoration underline
        ul
        ol
            padding-left 20px
        li
            list-style square
        code
            font-size 1em
            overflow auto
            background-color rgba(0,0,0,0.2)
        .hljs
            font-size 0.9em
            margin 20px 0px
            padding 10px
            background-color rgba(0,0,0,0.2)
            .gutter
                width 10px
                color $textColorDes
            &::-webkit-scrollbar  
                width 10px 
                height 5px
                background-color #333
            &::-webkit-scrollbar-thumb  
                background-color $themeColor
            &::-webkit-scrollbar-button
                background-color $themeColor
        hr
            border none
            background-color $borderColor 
            height 1px
        pre
            overflow auto
            white-space pre-wrap
            white-space -moz-pre-wrap
            white-space -pre-wrap
            white-space -o-pre-wrap
            word-wrap: break-word
        img
            display block
            border-radius 3px
            max-width 100%
            margin auto
            @extend .transition
            opacity 0.8
            &:hover
                opacity 1
        table
            width 100%
            border-collapse collapse
            overflow auto
            margin 20px 0px
            td
            th
                padding 5px 0px
                border 1px solid $borderColor
                text-align center
            th
                background rgba(0,0,0,0.1)
                color $textColor
    .more-link
        color $textColorDes
        border 1px solid $textColorDes
        display inline-block
        padding 5px 10px
        margin 20px 0px
        font-size 14px
        &:hover
            border 1px solid $themeColor
            color $themeColor
    .tags-list
        margin-top 20px
        display inline-block
        li
            float left
            margin 0px 10px 10px 0px
            a
                display block
                font-size 12px
                padding 5px 10px
                @extend .transition
                background-color rgba(0,0,0,0.2)
                color $textColorDes
                i
                    padding-right 5px
                &:hover
                    background-color $themeColor
                    color $textColor
                    text-decoration none
    .article-pagination
        margin 40px 0px
        font-size 16px
        display flex
        a
            display block
            color $textColor
            padding 10px 15px
            background-color rgba(0,0,0,0.2)
            border-bottom 1px solid $themeColor
            @extend .transition

        > div
            flex 1
            &.pagination-prev
                text-align left
                margin-right 20px
            &.pagination-next
                text-align right
    .pagination
        .current
            background-color $themeColor
            color $textColor
        span
        a
            display inline-block
            font-size 18px
            padding 15px 20px
            color $textColor
            @extend .transition
            &:hover
                background-color $themeColor
                color $textColor
.fadeToBottom
    animation fadeToBottom 0.8s ease-out
@keyframes fadeToBottom {
    from {
        opacity 0
        transform translate(0, -30px)
    }    
    to {
        opacity 1
        transform translate(0, 0px)
    }
}
.fadeToTop
    animation fadeToTop 0.8s ease-out
@keyframes fadeToTop {
    from {
        opacity 0
        transform translate(0, 30px)
    }    
    to {
        opacity 1
        transform translate(0, 0px)
    }
}