.extend-tools
    position fixed
    bottom 0px
    right 0px
    li
        padding 20px
        cursor pointer
        @extend .transition
        background-color #151515
        font-size 20px
        position relative
        &:hover
            background-color $themeColor
            color $textColor