// ------------------------------
// 底部
// ------------------------------

.footer
    padding $wrap_margin
    border(top)
    .footer-intro
        color $text_color_description
        margin 10px 0px
        font-size 14px
        a
            color: $text_color
