// ------------------------------
// 底部
// ------------------------------

.footer
    padding $commonMargin
    text-align right
    .footer-intro
        color $textColorDes
        margin 10px 0px
        font-size 14px
        a
            color: $textColor
